*{
    margin: 0;
    padding: 0;
    box-sizing:none;
}
body{
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}
main{
    margin: auto;
}

h1, .seccion-form-contacto, .mapa{
    width: 80%;
    margin: auto;  
}
.seccion-form-contacto{
    display: flex;
    justify-content: space-between;

}

.otro-texto{
    margin-top: 10px;
}

.formulario div, .mapa{
   margin-top: 10px;
}


.mapa iframe{
    width: 100%;
    height: 300px;
    
}

.zona-boton-enviar{
    text-align: center;
    padding: 10px;

}

.boton-enviar{
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding: 10px 40px;
    border-radius: 10px; 
    background-color:#3f3f3f;

}

.boton-enviar:hover{ 
    background-color: #797979;
    color: #fff;
}

.boton-enviar:active { 
    background: rgb(165, 165, 165); 
    color: #fff; 
}