@import 'all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:none;
}
body{
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;

}
h1{
    text-align: center;
}
main{
    margin: auto;
    /*border: 1px solid black;*/
}
input[type=number]{
    text-align: center;
    
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.logo-title{
    height: 10px;
}
.contenedor-header, .contenedor-footer{
    background-color: #000080;
}

.contenedor-footer p{
    color: #fff;
}

.contenedor-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buscador{
    padding: 10px;
    width: 600px; 
}
.boton-buscador{
    height: 40px;
    width: 40px;
}

.logo-header{
    height: 90px;
}

.menu{
    background-color: rgb(160, 156, 156);
}
.menu ul{
    display: flex;
    justify-content: space-around;
}
.menu li{
    list-style: none;
    box-sizing: border-box;
    width: calc(25% - 10px);
    text-align: center;
    
}
.menu a{
    text-decoration: none;
    color: rgb(0,0,0);
    padding: 10px;
    display:block;

}

.menu a:hover{
    color: #fff;
    background-color:#5bbb9b;
}

.contenedor-producto{
    padding-left: 130px;
    display: flex;
    flex-wrap: wrap;
    
}
.contenedor-producto article{
    width: 300px;
    margin: 15px;
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
    background-color: #fff;
    box-sizing: none;
    
   
}
.contenedor-producto article:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.4);
}

.producto img{
    width: 300px;
}

.pie-producto{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.carrito{
    margin-left: 30px;
    padding: 10px;
}
.contenedor-footer{
    margin-top: 40px;
    display: flex;
    justify-content:space-around;
}
.img{
    width: 100px;
}

.iconos-red-social i{
    color: #fff;
    font-size: 30px;
}

.mis-datos{ /*main de Mi-cuenta*/
    width: 55%;
}
.fotoynombre{
    display: flex;
    align-items:center;
}
.fotoynombre div{
    margin-right: 30px;
    margin-top: 10px;

}

.foto-perfil{ /*imagen homero*/
    height: 200px;
}
.subtitulo{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top: 50px;
    padding-right: 100px;
    /*border: 1px solid pink;*/
}
.grilla{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing:none;
    margin-top: 10px;
}
.item-direc{
    background-color: #137fd9;
    color: #fff;
    flex: none;
    width: calc(45% - 10px);
    margin: 1px;
    text-align: center;  
    box-sizing: border-box;
    padding: 3px;
    /*border: 1px solid blue*/
}

.tachito, .espacio{
    padding-left: 4px;
    /*border: 1px solid saddlebrown;*/
}
.icono-tacho{
    height: 30px;
    width: 25px;;
}
.banco{
    height: 30px;
}
.fondo-banco{
    border: 1px solid #d9d9d9;
    border-radius: px;
    display: flex;
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    justify-content:center;
    align-items: center; 
}

.boton-agregar{
    background-color: lightgray;
    color: #000;
    padding: 7px;
    border-radius: 5px; /*To do hace que la punta de mi rectangulo se vuelva redondeado como un boton*/
    text-decoration: none;
    border: 1px solid #aaaaaa;
}

.boton-agregar:hover{ 
    background-color: #636363;
    color: #fff;
}

.boton-agregar:active { 
    background: rgb(230, 228, 228); 
    color: #fff; 
}

.cuadro-cant{
    width: 45px;
}
.bold-grilla{
    font-weight:600;
}
/*----------------- MI CARRITO ----------------------------*/

.fondo-maggie{
    margin: 30px 170px;
    height: 255px;
    /*border: 1px solid red;*/
    background-image: url(../images/maggie-header-compra2.png);
    background-size: cover;
}
.titulo-carrito, .listado-carrito, .zona-boton-pagar{
    margin: 10px 170px; 

}

.titulo-carrito{
    /*border: 1px solid red;*/
    display:flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(63, 63, 63);
    color: #fff;
    border-radius: 30px;
    margin-bottom: 25px;
    margin-top: 50px;
}

.titulo-carrito p, h2{ /*hijos del titulo*/
    padding-left: 10px;
    font-size: 26px;
}

.titulo-compra-img img{
    width: 110px;
}

.listado-carrito{
    display: flex;
    flex-direction: column;
    /*flex-wrap (default no)*/
}

.listado-carrito li{
    display: flex;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
    background-color: #fff;
    border-radius: 20px;
}
.titulo-compra-img{
    
    display: flex;
    align-items: center;
}
.titulo-compra-img img{
    width: 80px;
}
.titulo-compra-img p{
    font-weight:600;
    font-size: 15px;
}
.titulo-compra1{
    display: flex;
    flex-direction: column;
    display: flex;
    width:100%;
    margin-bottom: 10px;
    flex-direction: column;
}
.subtitulo-compra{
    display:flex;
    height: 55px;
    width: 77%;
    justify-content: space-around;
    align-items: center;
}

.valores-de-compra{
    display:flex;
    justify-content: space-around;
    height: 55px;
    align-items: center;
}

.total-a-pagar p{
    font-weight: bold;
    font-size:larger;
    padding: 10px;
}
#total{
    margin-right: 55%;
    padding-left: 10px;
}
.zona-boton-pagar{
    text-align: center;
    padding: 10px;

}

.zona-boton-pagar a{
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding: 10px 40px;
    border-radius: 10px; 
    background-color:#0076C6;
}

.zona-boton-pagar a:hover{ 
    background-color: #3CA5EA;
    color: #fff;
}

.zona-boton-pagar a:active { 
    background: rgb(230, 228, 228); 
    color: #fff; 
}
/***************** POP UP PAGAR*************************/
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}

#popupBody{
    width: 30%;
    background: #fff; 
    padding: 2%;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 10px #fdfdfd;
    margin: 20px auto;
    /*transition: all 10s ease-in-out;*/
}

#cerrar{
    position: absolute;
    top: 10px;
    right: 6px;
    font-size: 30px;
    font-weight: bold;
    color: #f00;
    text-decoration: none;
}

.ocultar {
    display: none;
    padding-top: 6px;
    padding-bottom: 6px;
}

.chk:checked + .ocultar {
    display: block;
}
/*********************************/
label, input{
    margin-bottom: 9px;
    margin-top: 9px;
    
}

.titulo-popup{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.titulo-popup i{
    font-size: 30px;
}

.box-peque{
    width: 40px;
}

.boton-popup-pagar{
    text-align: center;
}