* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.form-element button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: #333;
    border: none;
    outline: none;
}

/*.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 380px;
    padding: 20px 30px;
    background-color: cadetblue;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
}*/
.center {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.center:target {
    visibility: visible;
    opacity: 1;
}


#cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
    transition: all 200ms;
}

.center h1 {
    text-align: center;
    color: black;
    font-size: 22px;
}

form {
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    position: relative;
    background-color: grey;
    width: 46%;
    padding: 2%;
    margin: 1% 28%;
}



.center form .form-element label {
    font-size: 14px;
    color: #222;
}

.center form .form-element input[type="text"],
.center form .form-element select {
    margin-top: 3px;
    display: block;
    width: 100%;
    padding: 7px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 35px;
}

/*
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}